#ProfilePic{
    float: left;
}

br{
    background-color: grey;
}

.topnav{
    .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: right;
        align: right;
        position: relative;
        float: right;
}

p{
    font: 'Arial';
}

footer{
    display: block;
    background-color: #666666;
}

.tealbox{
    color: #4aaaa5;
    width: 20%;
}