#ProfilePic{
    float: left;
    padding-top: 0px;
    padding-right: 10px;

}

#topname{
    background-color: #4aaaa5;
    color:white;
    margin-left: 200px;
    padding-top: 15px;
    margin-top: -10px;
    
    width: 15%;
    height: 50px;
    text-align: center;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.topnav {
        color: #4aaaa5;
        text-align: right;
        position: relative;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        margin-bottom: 20px;
        
}

.menulink{
    color: #4aaaa5;
}

a {
    border-bottom:1px solid #000;
    text-decoration:none;
}

a:visited {
    color: #777777;
    border-bottom-color:rgba(255,255,255,0);
  }

p{
    font-family: 'Arial';
}

footer {
    display: block;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 30px solid grey;
}

.mainheaderbackground, .maincontentbackground {
    color: #ffffff;
    font-family: 'Georgia',Times, Times New Roman, serif;
    border-color: #dddddd solid;
}

.mainheaderborder{
    color: #cccccc;
}

.maincontentborder{
    color: #dddddd;
}

#pagetitle{
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
}

#innercontent{
    background-color: white;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    width: 960px;
    top: 10%; 
    left: 25%; 
    right: 25%; 
 
    padding-left: 20px;
    padding-right: 20px;    
}

#backgroundimage{
  background-image: url(../images/backgroundimage.png);
  align-self:auto;
  width: 100%;
  background-repeat: repeat;
  border-top-style:solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top: 2px;

  border-top-color: #cccccc;
}

#textarea{
    width: 100%;
    height: 300px;
}


.piclabel{
    background-color: #4aaaa5;
    color:white;
    width: 200px; 
    height: 30px; 
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    top: 130px;
    left: 15px;
    z-index: 100;
    
}

.row{
    height:190px;
}

img{
    
    left: 0px;
    top 0px;
}